doctype html
html
  head
    script(src="/javascripts/web3.min.js")

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body(class=bodyclass)
    block content

    script(src="https://kit.fontawesome.com/ff8599541c.js", crossorigin="anonymous")
    script(src="/javascripts/main.js")
    block scripts